.App {
  justify-content: center;
  text-align: center;
  background:  linear-gradient(to right, #00b4db, #0083b0);
  width: 50%;
  padding: 150px;
  margin: auto;
}

.head{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

.loc{
  color: rgb(11, 241, 184);
}
